$color-black: #000000;
$color-white: #ffffff;
$color-white-mercury: #E5E5E5;
$color-link-water: #e7edfa;
$color-blue: #346CD9;
$color-text-black-charade: #252A34;
$color-text-black-mine-shaft: #343434;
$color-text-black-cod-gray: #1C1C1C;
$color-text-red: #FF2E63;
$color-text-dusty-gray: #999999;


$os-font-light: 'Open Sans light';
$os-font-regular: 'Open Sans Regular';
$os-font-bold: 'Open Sans Bold';
$os-font-very-bold: 'Open Sans Very Bold';

$r-font-regular: 'Rajdhani Regular';
$r-font-bold: 'Rajdhani Bold';

